
body {
  background-color: #DDD;
}

.header {
  display: block;
  width: 100%;
  text-align: center;
  background-color: #DDD;
  /*font-size: x-large;
  font-weight: bold; */
}

.body {
  margin-top: 110px;
  margin-bottom: 20px;
}

.controls {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 95px;
  padding: 5px;
}

#parseform input {
  margin: 2px 0px;
}

.grammarname {
  font-weight: bold;
}

/*#sentenceinput {
  font-size: 12pt;
}

#parseSubmit {
  height: 12pt;
}*/

.sentence {
  text-align: center;
  font-size: larger;
  font-weight: bold;
}

.status {
  /*position: fixed;
  bottom: 100%;
  left: 0px; */
  width: 100%;
  height: 20px;
  font-size: small;
}

.error {
  font-weight: bold;
  font-size: large;
}

.result {
  display: block;
  margin: 10px;
}

.dmrs {
  display: inline-block;
  background-color: #FFF;
  border-radius: 10px;
  overflow: auto;
}

.node {
  pointer-events: all;
  fill: #000;
  stroke: none;
}

.nodeText {
  stroke: none;
  font-family: sans-serif;
  font-size: 16px;
  text-anchor: middle;
}

.nodeText:hover {
  font-weight: bold;
}

.node.selected {
  font-weight: bold;
}

.nodeBox {
  stroke-width: 2px;
  fill: none;
}

.link {
  stroke: #000;
  fill: #000;
  stroke-opacity: .5;
  fill-opacity: .5;
}

.linkedge {
  fill: none;
  stroke-width: 2px;
  stroke-linejoin: round;
  marker-end: url(#arrowhead);
}

.eqedge {
  fill: none;
  stroke-width: 2px;
  stroke-linejoin: round;
  stroke-dasharray: 5,5;
}

.topedge {
  fill: #f00;
  stroke-width: 2px;
  stroke-linejoin: round;
  stroke-dasharray: 5,5;
  marker-end: url(#arrowhead);
}

.linkend {
  stroke-opacity: .5;
  fill-opacity: .5;
}

.rargname {
  fill: #000;
  stroke: none;
  stroke-width: 1px;
  font-family: sans-serif;
  font-size: 10px;
  text-anchor: middle;
}

.node.in { fill: red; }
.node.out { fill: blue; }
.node.labelset { stroke: gold; }
.node.scope { stroke: violet; }
.node.out.labelset { fill: green; stroke: gold;}
.node.in.labelset { fill: darkorange; stroke: gold;}

.link.in { fill: red; stroke: red; }
.link.out { fill: blue; stroke: blue; }
.link.labelset { fill: gold; stroke: gold; }
.link.scope { fill: violet; stroke: violet; }
.link.in.labelset { fill: darkorange; stroke: darkorange; }
.link.out.labelset { fill: green; stroke: green; }

/* thanks: http://bl.ocks.org/d3noob/a22c42db65eb00d4e369 */
.tooltip {
  position: absolute;
  text-align: center;
  padding: 2px;
  font: 12px sans-serif;
  color: #FFF;
  background: #444;
  border: 0px;
  border-radius: 8px;
  opacity: 0;
  pointer-events: none;
}
