<!DOCTYPE HTML>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dmrs.css') }}"/>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="{{ url_for('static', filename='dmrs.js') }}"></script>
  <title>DELPH-IN Demo</title>
</head>
<body>
  <form method="POST" action="/">
    {{ form.hidden_tag() }}
    {{ form.sentence.label }} {{ form.sentence(size=50) }}
    <input type="submit" value="Parse">
  </form>
  {% if result is defined %}
    <p>{{ result['NOTES']|safe }}</p>
    <p>{{ result['ERRORS']|safe }}</p>
    {% for res in result['RESULTS'] %}
    <div id="dmrs{{loop.index}}"></div>
    {% endfor %}
    {% for res in result['RESULTS'] %}
      <script>
          dmrsDisplay("#dmrs{{loop.index}}",
                      JSON.parse('{{res|safe}}'));
      </script>
    {% endfor %}
  {% endif %}
</body>
</html>
